<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Mi Restaurant</title>
  </head>
  <body>
    <!--Inicio sección navbar-->
    {{> navbar}}
    <!--Fin sección navbar-->

    <!--Inicio sección búsqueda-->
    {{> busqueda}}
    <!--Fin sección búsqueda-->

    <!--Inicio sección categorias-->
    {{> categorias}}
    <!--Fin sección categorias-->

    <!--Inicio sección menú platos-->
    {{> menu_platos}}
    <!--Fin sección menú platos-->

    <!--Inicio sección redes sociales-->
    {{> redes_sociales}}
    <!--Fin sección redes sociales-->

    <!--Inicio sección footer-->
    {{> footer}}
    <!--Fin sección footer-->
    
  </body>
</html>
